/* colors green rgb(94, 131, 35) 
          orange rgb(238, 150, 33) */
/* font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: "abolition", Arial, Helvetica, sans-serif;
   font-family: "flamenco", Arial, Helvetica, sans-serif;  */


   @font-face {
    font-family: "flamenco";
    src: url("../fonts/Flamenco-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "abolition";
    src: url("../fonts/Fort Foundry - Abolition_0.otf");
    font-weight: normal;
}


.logoImg {
    width: 175px;
    height: auto;
    padding: 10px 0 0 0px;
}

nav {
    height: 115px;
}

h5 {
    font-family: "abolition", Arial, Helvetica, sans-serif;
    font-size: 9pt;
    letter-spacing: 1px;
}

#map {
    height: 400px;
    width: 100%;
   }